<!DOCTYPE html>
<html>

<head>
	<link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="{{ url_for(
    'static', filename='main.css') }}">
	</link>

<body>
	<header>
		<h1>Hello NEWS</h1>
		<strong>Popular</strong> |
    <a href="/?order_by=new">New</a>
  </header>
  <main>
    {% for item in news %}
      <div class="article_title">
        <a href={{item.url}}><h2>{{item.title}}</h2></a>
      </div>
      <div class="info">
        {{item.points}} points | By: {{item.author}} | {{item.comments}} comments
      </div>
      <hr>
    {% endfor %}
  </main>
</body>
  
</html>