<!DOCTYPE html>
<html>
<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
  <header>
    <h1>The CW Times</h1>
    Order by: 
    <a href="/?order_by=popular">Popular</a> |
    <strong>New</strong>
  </header>
  <main>
    {% for item in news %}
      <div>
        <a href="{{base_url}}/{{item.object_id}}"><h3>{{item.title}}</h3></a> 
        (<a href="{{item.url}}"><h4>{{item.url}}</h4></a>)
      </div>
      <div>
        {{item.points}} points | By: {{item.author}} | {{item.comments}} comments
      </div>
      <hr>
    {% endfor %}
  </main>
</body>
  
</html>